<div class="<%= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "Daily Charts", daily_path %></div>
  <div><%= link_to "Weekly Charts", weekly_path %></div>
  <div><%= link_to "About Me", about_me_path %></div>
  <div><%= link_to "Further Information", further_information_path %></div>
</div>