<!--<div class="container">-->
  <!--<div class="col-sm-8 blog-main">-->
    <!--<p id="notice"><%= notice %></p>-->



    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
              <% @posts.each do |post| %>
            <h1 class="mt-4"> <%= post.title %></h1>
             <a href= "<%=post_url(post)%>"><%=image_tag post.avatar, width: '50%' %></a>
            <div class="col-lg-8"> <%= (post.body).truncate(150) %></div>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
        </div>
      </div>
    </div>

    <br>

    <%= link_to fa_icon('plus-circle'), new_post_path %>


      <%= render 'shared/footer' %>
  </div>
</div>